root {
    display: block;
    font-size: 5px;
}

body {
    padding: 0px;
    margin: 0px;
}

#page {
    color: white;
    width: 1200px;
    margin: auto;
}

#header {
    background: #8b8b8b;
    padding: 5px;
    clear: both;
}

#content {
    color: black;
}

.ui-widget {
    font-size: 12px !important;
}